importFrom(R6, R6Class)
import(httr)
import(rjson)
import(stringr)
export(PicSureHpdsAdapter)
export(PicSureHpdsResourceConnection)
export(PicSureHpdsBypassAdapter)
export(PicSureHpdsBypassConnection)
export(PicSureHpdsBypassConnectionAPI)
export(PicSureHpdsDictionary)
export(PicSureHpdsDictionaryResult)
export(PicSureHpdsQuery)